.hero {
    height: 100dvh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    
    background-color: #0e0e0e; 
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    mix-blend-mode: exclusion;
}

.hero p {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    color: #ffffff;
    font-family: var(--font-display);
}

.hero-img-container {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: 1;
}

.hero-img-container picture,
.hero-img-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.hero-img-container img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(120%);
    transition: 1s ease;
    object-position: center; 
}

.hero:hover .hero-img-container img {
    filter: grayscale(0%) contrast(100%);
    transform: scale(1.02);
}

/* --- VERSÃO MOBILE --- */
@media (max-width: 768px) {

    .hero h1 { font-size: 18vw; }
    
    .hero-img-container {
      
        top: 100px; 
        
        /* 2. A altura será o que sobrar da tela */
        height: calc(100dvh - 100px); 
    }

    .hero-img-container img {
        animation: none; 

        transform: none; 
        
       
        width: 100%;
        height: 100%;
        object-fit: cover;
        
       
        object-position: top center; 

    }

}