/* 7. TOUR SECTION */
.tour-section {
    padding: 100px 5vw;
}

.tour-list {
    list-style: none;
    border-top: 1px solid #333;
}

.tour-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #333;
    transition: 0.3s;
}

.tour-item:hover {
    background: #111;
    padding-left: 20px;
    border-bottom: 1px solid var(--accent-color);
}

.tour-item .date {
    font-family: var(--font-display);
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--accent-color);
}

.btn-ticket {
    border: 1px solid #333;
    padding: 10px 20px;
    color: #888;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: 0.3s;
}

.tour-item:hover .btn-ticket { 
    background: #fff; 
    color: #000; 
}

/* Responsividade do Tour */
@media (max-width: 768px) {
    .tour-item { 
        flex-direction: column; 
        align-items: flex-start; 
        gap: 15px; 
    }
    .btn-ticket { 
        width: 100%; 
        text-align: center; 
    }
}